<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>4ind 사람 탐지 페이지</title>
    <style>
        body { font-family: sans-serif; text-align: center; background: #ffffff; }
        video, img { border: 1px solid #000000; margin-top: 20px; }
        button { margin: 10px; padding: 10px 20px; font-size: 16px; }
    </style>
</head>
<body>
    <h1> 사람 탐지 진행중 </h1>
    <img src="/video_feed" width="1200" height="800" />
    <br>
    <button onclick="fetch('/exit')">❌ 종료 ❌</button>
</body>
</html>